/* SHOP GRID ==================================== */

.shop-grid {
    clear: both;
    overflow: hidden;
}

.shop-grid > div {
    /*height: 400px;*/
    /*background: red;*/
    margin-bottom: 0.5%;
    float: left;
}

.shop-grid img {
    width: 100%;
    display: block;
}

.shop-cell-100, .shop-cell-50, .shop-cell-33, .shop-cell-66 {
    width: 100%;
}

.shop-grid .desktop {
    display: none;
}

@media (min-width: 600px) {

    .shop-grid .desktop {
        display: block;
    }

    .shop-grid .mobile {
        display: none;
    }

    .shop-cell-50 {
        width: 49.75%;
    }

    .shop-grid > .shop-cell-50:nth-child(1) {
        margin-right: 0.5%;
    }

    .shop-cell-33 {
        width: 33%;
    }

    .shop-grid > .shop-cell-33:nth-child(2) {
        margin: 0 0.5%;
    }

    .shop-grid > .shop-cell-33:last-child {
        margin: 0;
    }

    .shop-cell-66 {
        width: 66.5%;
    }

    .shop-grid > .shop-cell-66:nth-child(1) {
        margin-right: 0.5%;
    }

    .shop-grid > .shop-cell-66:nth-child(2) {
        margin-left: 0.5%;
    }
}